<a href="https://colab.research.google.com/github/asepmuhidin/PKIEC6/blob/main/fungsi_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#luas_lingkaran=pi*r*r
import math
def hitung_luas_lingkaran(r=0):
  return math.pi * r**2

In [8]:
luas1=hitung_luas_lingkaran(5)
luas2=hitung_luas_lingkaran(10)
print(f"Luas lingkaran dengan jari-jari=5 adalah {luas1:,.2f}")
print(f"Luas lingkaran dengan jari-jari=10 adalah {luas2:,.2f}")
print(f"Total Luas lingkaran  adalah {luas1+luas2:,.2f}")

Luas lingkaran dengan jari-jari=5 adalah 78.54
Luas lingkaran dengan jari-jari=10 adalah 314.16
Total Luas lingkaran  adalah 392.70

In [11]:
luas3=hitung_luas_lingkaran()
print(f"Luas lingkaran  adalah {luas3:,.2f}")

luas4=hitung_luas_lingkaran(100)
print(f"Luas lingkaran  adalah {luas4:,.2f}")

Luas lingkaran  adalah 0.00
Luas lingkaran  adalah 31,415.93

In [12]:
def sapa(name, sapaan="Haloo.."):
  print(f"{name} menyapa {sapaan}")

sapa("Alice")
sapa("Bob", "Hi")
sapa("Charlie","Hey")

Alice menyapa Haloo..
Bob menyapa Hi
Charlie menyapa Hey

In [14]:
def buat_profile(nama,umur,kota="Jakarta", pekerjaan="belum bekerja"):
  print(f"===PROFILE {nama.upper()} ===")
  print(f"Umur : {umur}")
  print(f"Kota : {kota}")
  print(f"Pekerjaan : {pekerjaan}")
  print()

buat_profile("Azhari Ramadhan",21)

===PROFILE AZHARI RAMADHAN ===
Umur : 21
Kota : Jakarta
Pekerjaan : belum bekerja

In [15]:
buat_profile("Daffa Azhari", 20, kota="Bandung")

===PROFILE DAFFA AZHARI ===
Umur : 20
Kota : Bandung
Pekerjaan : belum bekerja

In [16]:
buat_profile(nama="Devrin", pekerjaan="Mahasiswa", umur=19, kota="Medan")

===PROFILE DEVRIN ===
Umur : 19
Kota : Medan
Pekerjaan : Mahasiswa

In [18]:
def test():
  x=10
  print(f"Nilai variabel x adalah {x}, bersifat lokal")

test()
print(f"Nilai x adalah {x}")

Nilai variabel x adalah 10, bersifat lokal

NameError: name 'x' is not defined

In [23]:
x=5
def test1():
  #global x
  x=10
  print(f"Nilai variabel x adalah {x}, bersifat lokal")

test1()
print(f"Nilai variabel x adalah {x}, bersifat global")

Nilai variabel x adalah 10, bersifat lokal
Nilai variabel x adalah 5, bersifat global

In [26]:
def jumlah(a,b):
  print(f"{a}+{b}={a+b}")

jumlah(3,5)
#jumlah(3,5,6,7) akan error, karena jumlah parameter tidak sesuai

3+5=8

In [29]:
def jumlahx(*bil):
  sum=0
  for i in bil:
    sum +=i

  print(f"Jumlah {bil} adalah {sum}")

jumlahx(21,32,44)

Jumlah (21, 32, 44) adalah 97

In [28]:
jumlahx(2,2,2,5,6,7,8)

Jumlah (2, 2, 2, 5, 6, 7, 8) adalah 32

In [30]:
def profile_user(**profile):
  for key,val in profile.items():
    print(f"{key} : {val}")

In [31]:
profile_user(nama="Aktsa Alfajri", umur=21, email="aktsa@gmail.com", alamat="Cikarang")
profile_user(nama="Bambang", umur=20, alamat="Bogor")

nama : Aktsa Alfajri
umur : 21
email : aktsa@gmail.com
alamat : Cikarang
nama : Bambang
umur : 20
alamat : Bogor