<a href="https://colab.research.google.com/github/asepmuhidin/PKIEC6/blob/main/KeyArgument.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Keyword Argument

In [9]:
def say_hello(name,msg):
  print(f"{name} mengucapkan {msg}")

In [12]:
say_hello(msg='haloo apa kabar..',name='Daffa ')

Daffa  mengucapkan haloo apa kabar..

In [14]:
def profile(name,email,address='Cikarang', age=20):
  print("Profile User")
  print(f"Nama {name}, alamat {address}, email {email} umur {age}")

In [15]:
profile(age=21,email='azka@gmail.com', name='Azka')

Profile User
Nama Azka, alamat Cikarang, email azka@gmail.com umur 21

In [17]:
profile(email='daffa@gmail.com', name='Daff', address='Bekasi')

Profile User
Nama Daff, alamat Bekasi, email daffa@gmail.com umur 20

## Local Variable

In [19]:
def sum():
  a=10
  print(f'Nilai a={a}')

sum()
print(a)

Nilai a=10

NameError: name 'a' is not defined

## Global variabel

In [20]:
name='Bambang'
def test():
  print(f'Nama {name}, diakses di dalam fungsi')

print(f'Nama {name}, diakses di luar fungsi')
test()

Nama Bambang, diakses di luar fungsi
Nama Bambang, diakses di dalam fungsi

## Global variabel tidak bisa diubah di dalam fungsi:

In [24]:
name='Bambang'
def test():
  name='Azka'
  print(f'Nama {name}, diakses di dalam fungsi')

test()
print(f'Nama {name}, diakses di luar fungsi')

Nama Azka, diakses di dalam fungsi
Nama Bambang, diakses di luar fungsi

In [25]:
#Supaya bisa merubah di dalam fungsi, gunakan keyword global
name='Bambang'
def test():
  global name
  name='Azka'
  print(f'Nama {name}, diakses di dalam fungsi')

test()
print(f'Nama {name}, diakses di luar fungsi')

Nama Azka, diakses di dalam fungsi
Nama Azka, diakses di luar fungsi

## Parameter dinamis list (*)

In [27]:
#contoh list
bil=[11,23,31,40]
hasil=0
for i in bil:
  hasil=hasil+i

print(hasil)

105

In [37]:
def jumlah(a,b): #ini parameter statis
  return a+b

def jumlahx(*bil): #ini parameter dinamis
  hasil=0
  for i in bil:
    hasil=hasil+i

  return hasil

In [32]:
x=jumlah(34,12)
print(x)

46

In [33]:
x=jumlah(1,2,5) # Errorn karena parameter statis
print(x)

TypeError: jumlah() takes 2 positional arguments but 3 were given

In [34]:
x=jumlahx(34,12)
print(x)

46

In [36]:
x=jumlahx(1,2,5) #  karena parameter dinamis
print(x)

8

In [41]:
nilai=jumlahx(100,86,90,76,55,40) #  karena parameter dinamis
print(nilai)

447

## Parameter dinamis Dictionary (**)

In [42]:
def profile(name,email,address='Cikarang', age=20): # parameter statis
  print("Profile User")
  print(f"Nama {name}, alamat {address}, email {email} umur {age}")

profile(age=21,email='azka@gmail.com', name='Azka')

Profile User
Nama Azka, alamat Cikarang, email azka@gmail.com umur 21

In [43]:
profile(age=21,email='azka@gmail.com', name='Azka', pekerjaan='Mahasiswa')

TypeError: profile() got an unexpected keyword argument 'pekerjaan'

In [44]:
def profilex(**profile): # parameter statis
  print("Profile User")
  for key,val in profile.items():
    print(f"{key} : {val}")

In [45]:
profilex(age=21,email='azka@gmail.com', name='Azka', pekerjaan='Mahasiswa')

Profile User
age : 21
email : azka@gmail.com
name : Azka
pekerjaan : Mahasiswa

In [46]:
profilex(name='Azka',age=21,email='azka@gmail.com',status='Belum menikah', pekerjaan='Mahasiswa')

Profile User
name : Azka
age : 21
email : azka@gmail.com
status : Belum menikah
pekerjaan : Mahasiswa