<a href="https://colab.research.google.com/github/asepmuhidin/PKIEC6/blob/main/Tipe_Data_Koleksi_(List%2C_Tuple%2C_Set%2C_Dict).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipe Data Koleksi

> Add blockquote

## List (Daftar)

### Membuat List

In [14]:
# Untuk membuat List adalah : nama_list=[item1,item2..]
# Contoh

students=['Aktsa Alfazri','Amar S Hikam','Azhari Ramdahan','Ranti Aryanti']
# Cara mengakses List adalah : nama_list[index]
# Contoh
#students[0]-->Aktsa Alfazri
#students[1]-->Amar S Hikam
#students[3]-->Ranti Aryanti
# Bagaimana supaya outputnya adalah "Nama Saya Amar S Hikam"
print(f"Nama saya {students[1]}")

Nama saya Amar S Hikam

### Update/ merubah List

In [15]:
# Merubah/update item list adalah nama_list[index_updated]=value
# Contoh
students[1]='Daffa Azhari'
print(f"Nama saya {students[1]}")

Nama saya Daffa Azhari

### Traversing a list

In [13]:
# Menampilkan seluruh data list menggunakan Loop
for student in students:
  print(student)

print("==========================")

#Menampilkan seluruh data list dan index menggunakan loop dan enumerate
for nomor,student in enumerate(students):
  print(f"{nomor+1}.{student}")

Aktsa Alfazri
Daffa Azhari
Azhari Ramdahan
Ranti Aryanti
==========================
1.Aktsa Alfazri
2.Daffa Azhari
3.Azhari Ramdahan
4.Ranti Aryanti

### List operations

In [16]:
# Perkalian List : nama_list * n
# Contoh
kue=["Pisang goreng","Putu"]*3
print(kue)

['Pisang goreng', 'Putu', 'Pisang goreng', 'Putu', 'Pisang goreng', 'Putu']

In [20]:
# Penjumlahan / Penggabungan List : list_a + list_b

kue_basah=["Brownis","Apem","Bika Ambon"]
kue_kering=["Keripik Bawang","Keripik Singkong","Kue Kacang","Akar Kelapa"]

daftar_kue=kue_basah + kue_kering

print(daftar_kue)

['Brownis', 'Apem', 'Bika Ambon', 'Keripik Bawang', 'Keripik Singkong', 'Kue Kacang', 'Akar Kelapa']

### List slices

In [21]:
# Menampilkan semua data
print(daftar_kue[:])

['Brownis', 'Apem', 'Bika Ambon', 'Keripik Bawang', 'Keripik Singkong', 'Kue Kacang', 'Akar Kelapa']

In [22]:
# Menampilkan data dari n ke akhir data
print(daftar_kue[1:])

['Apem', 'Bika Ambon', 'Keripik Bawang', 'Keripik Singkong', 'Kue Kacang', 'Akar Kelapa']

In [24]:
# Latihan 1: Tampilkan data dari Keripik Bawang sampai akhir
print(daftar_kue[3:])

['Keripik Bawang', 'Keripik Singkong', 'Kue Kacang', 'Akar Kelapa']

In [26]:
# Latihan 2:: Tampilkan data dari Bika Ambon sampai Keripik singkong
print(daftar_kue[2:5])

['Bika Ambon', 'Keripik Bawang', 'Keripik Singkong']

### List methods

In [27]:
# Menambahkan Item pada list :  nama_list.append(new_item)
daftar_kue.append("Martabak")
print(daftar_kue)

['Brownis', 'Apem', 'Bika Ambon', 'Keripik Bawang', 'Keripik Singkong', 'Kue Kacang', 'Akar Kelapa', 'Martabak']

In [28]:
# Menampilkan Data Terakhir : daftar_list[-1]
print(daftar_kue[-1])

Martabak

## Tuple

##Set

## Dictionary